{-# LANGUAGE OverloadedStrings #-}
module Main where
import           Control.Concurrent.STM.Notify
import qualified Data.Sequence                 as S
import           LiveVDom
import           $moduleName

main :: IO ()
main = runMain